// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #f9f7f6;
$gray-200: #e8e0de;
$gray-300: #d8ccc9;
$gray-400: #c9bbb8;
$gray-500: #ab9c9a;
$gray-600: #918481;
$gray-700: #69605e;
$gray-800: #47403e;
$gray-900: #2c2a2a;
$black: #000;
// scss-docs-end gray-color-variables


// scss-docs-start color-variables
$blue: #2f3a53;
$indigo: #63528a;
$purple: #8b6193;
$pink: #b05774;
$red: #a23f40;
$orange: #da8662;
$yellow: #dfc080;
$green: #415b3e;
$teal: #629b90;
$cyan: #86d3ed;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$primary: $orange;
$warning: $yellow;
// scss-docs-end theme-color-variables

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Alegreya Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Alegreya SC";
$display-font-family: "Alegreya SC";
$display-font-weight: 400;
$font-size-base: 1.25rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: false;
$enable-shadows: true;

// Links
//
// Style anchor elements.

$link-color: shade-color($teal, 20%);

$input-btn-line-height: 1;