{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags crispy_forms_tags honeypot %}
{% block content %}
<h1>{{ page.title }}</h1>
<div class="intro">{{ page.intro|richtext }}</div>

<form class="mb-3" method="POST">
    {% csrf_token %}
    {% render_honeypot_field %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
<hr>

<ul class="list-unstyled">
    {% for entry in entries %}
    <li>
        <div class="card mb-3">
            <div class="card-header">
                <strong>{{ entry.name }}</strong> <em>({{ entry.submitted_at }})</em>
            </div>
            <div class="card-body">{{ entry.message }}</div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}