{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<article>
    <h1>{{ page.title }}</h1>
    <p class="meta"><time>{{ page.first_published_at }}</time></p>

    {% with categories=page.categories.all %}
        {% if categories %}
            <h3>Posted in:</h3>
            <ul>
                {% for category in categories %}
                    <li style="display: inline">
                        {% image category.icon fill-32x32 style="vertical-align: middle" %}
                        {{ category.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="intro"><p class="lead">{{ page.intro }}</p></div>

    {{ page.body }}

        </article>
    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

    {% with tags=page.tags.all %}
        {% if tags %}
            <div class="tags">
                <h3>Tags</h3>
                {% for tag in tags %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button class="btn btn-outline-primary btn-sm" type="button">{{ tag }}</button></a>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}