{% load wagtailcore_tags navigation_tags wagtailuserbar static %}
<img class="img-fluid" src="{% static 'images/caiman banner md.webp' %}">
<header class="p-3 text-bg-dark mb-3 border-bottom border-warning border-5 shadow-sm">

  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        Acy Factory
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex" role="search" action="{% url 'search' %}" method="get">
        <input type="search" class="form-control form-control-dark text-bg-dark me-2" placeholder="Search..." aria-label="Search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Search" class="btn btn-warning btn-sm">
      </form>
    </div>
  </div>
</header>