{% load wagtailcore_tags navigation_tags wagtailuserbar wagtailsettings_tags wagtailimages_tags %}
{% get_site_root as site_root %}
<div class="px-4 py-2" role="banner">
  {% get_settings %}
  {% with logo=settings.base.DesignSettings.logo %}
  {% if logo %}
  {% image logo fill-200x200 format-webp-lossless class="mx-auto d-block img-fluid" %}
  {% endif %}
  {% endwith %}
</div>
<nav class="card bg-body-tertiary shadow-sm mb-3">
  <span class="card-header">Navigation</span>
  <ul class="nav nav-pills flex-lg-column card-body">
    <li class="nav-item">
      {% with request.path as current_url %}
      <a class="{% if current_url == site_root.url %}active{% endif %} nav-link"
        href="{% pageurl site_root %}">{{ site_root.title }}</a>
    </li>
    {% for menuitem in site_root.get_children.live.in_menu %}
    <li class="nav-item {% if menuitem.active %}{% endif %}">
      <a class="{% if current_url == menuitem.url %}active{% endif %} nav-link"
        href="{% pageurl menuitem %}">{{ menuitem.title }}</a>{% if not forloop.last %}{% endif %}
    </li>
    {% endfor %}
    {% endwith %}
  </ul>
</nav>