{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block body_class %}
  template-guestbookpage
{% endblock %}

{% block content %}
  <h1>{{ page.title }}</h1>
  <div>{{ page.intro|richtext }}</div>

  {% if guestbook_entries %}
    {% for entry in guestbook_entries %}
      <ul class="list-group list-group-flush">
        {% if entry.url %}
          <li class="list-group-item">
            <a href="{{ entry.url }}">{{ entry.name }}</a>: {{ entry.comment }}
          </li>
        {% else %}
          <li class="list-group-item">{{ entry.name }}: {{ entry.comment }}</li>
        {% endif %}
      </ul>
    {% endfor %}
  {% else %}
    <p>No entries found.</p>
  {% endif %}

  <form class="page-form" action="{% pageurl page %}" method="POST">
    {% csrf_token %}
    {{ form.as_div }}
    <button class="btn" type="Submit">Submit</button>
  </form>
{% endblock %}
