{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-guestbookpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <div>{{ page.intro|richtext }}</div>


    <h2>Raw Form Data:</h2>
    <ul>
        {% for submission_data in raw_data %}
            <li>
                <ul>
                    {% for field, value in submission_data.items %}
                        <li>{{ field }}: {{ value }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>


    <form class="page-form" action="{% pageurl page %}" method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="Submit">Submit</button>
    </form>
{% endblock content %}